
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-up-open-big:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-cancel-outline:before { content: '\e803'; } /* '' */