// @import "helpers/material.min";
// @import "../vendor/materialize-src/sass/materialize";
@import "helpers/const";
@import "newTab/tab";
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

#bg {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/bg.jpg);
    z-index: $bg_z;
    transition: .3 ease-out;
}

#app {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $app_z;
    color: #fff;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    max-width: 80%;
    min-width: 350px;
    text-align: center;
}

.q_title {
    font-size: 4rem;
    line-height: 4rem
}

.q_content {
    margin: 3rem;
}

.btnArea {
    margin: 3rem;
    font-size: 1.5rem;
}

#detectedCountry {
    border-bottom: 2px solid #ffffff;
    font-size: 6rem;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 1.5rem;
    border: 1px solid white;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.7);
}

#countrySelect {
    display: block;
}

////////////////////////////////////////
$base: #fff;
$text: #666;
$accent: #3366dd;
$lineH: 2rem;
.drop {
    color: #000;
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    margin-right: .5rem;
    .title {
        cursor: pointer;
        display: block;
        text-transform: uppercase;
        border-bottom: 1px solid #ffffff;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            border-color: rgba(255, 255, 255, 0.7);
        }
        i {
            // float: right;
            // width: 30px;
            // height: 30px;
            // color: $accent;
            // text-align: center;
            // line-height: 30px;
            // text-indent: 0;
        }
    }
    ul {
        // position: absolute;
        // top: 2rem;
        max-height: 10rem;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        &.closed {
            display: none;
        }
        li {
            cursor: pointer;
            list-style: none;
            line-height: $lineH;
            text-align: center;
            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

////////////////////////////////@at-root
$blue: #007aff;
$green: #4dd865;
$red: #ff3b30;
section {
    margin-top: 30px;
}

div.modal_btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: $blue;
    &:hover {
        text-decoration: underline;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: auto;
    margin-left: -200px;
    margin-top: -150px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    z-index: $modal_z;
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.5);
    &.active {
        display: block;
    }
    header {
        position: relative;
    }
    h2 {
        text-align: center;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 0;
        margin: 0;
    }
}