// @import "helpers/material.min";
// @import "../vendor/materialize-src/sass/materialize";
@import "helpers/const";
@import "newTab/tab";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

#bg {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; // background-color: transparent;
  background-color: #B0B5B9;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../img/bg.jpg);
  z-index: $bg_z;
  transition: .3 ease-out;
}

#app {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $app_z;
  color: #fff;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: 80%;
  min-width: 350px;
  text-align: center;
}

.question {
  .q__title {
    font-size: 4rem;
    line-height: 4rem
  }
  .q__content {
    margin: 4rem;
    .q__value {
      font-size: 6rem;
      line-height: 6rem; // text-decoration: underline;
      // border-bottom: 2px solid #ffffff;
    }
  }
}

.bottomBtnsArea {
  margin: 3rem;
  font-size: 1.5rem;
  .button {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    padding: 1.5rem;
    border: 1px solid white;
    text-decoration: none;
    margin: 0px 10px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-color: rgba(255, 255, 255, 0.7);
    }
  }
}

////////////////////////////////////////
.drop {
  display: inline-block;
  margin-right: .5rem;
  .drop__title {
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4); // border-color: rgba(255, 255, 255, 0.7);
    }
    i {
      font-size: 2rem;
    }
  }
}

////////////////////////////////
$blue: #007aff;
$green: #4dd865;
$red: #ff3b30;
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: auto;
  margin-left: -200px;
  margin-top: -150px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4rem;
  z-index: $modal_z;
  box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.5);
  &.hide {
    display: none;
  }
  .modal__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    text-decoration: underline;
  }
  .modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    margin: 0;
    cursor: pointer; // color: $blue;
    padding: 1rem;
    border: .5px solid;
    &:hover {
      background-color: $hoverBgColor;
    }
  }
}

.dropList {
  max-height: 10rem;
  overflow: auto;
  padding: 0px;
  margin-top: 2rem;
  &::-webkit-scrollbar {
    display: none;
  }
  &.closed {
    display: none;
  }
  li {
    cursor: pointer;
    list-style: none;
    line-height: 2rem;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    &:hover {
      background-color: $hoverBgColor;
    }
  }
}

/////////////////
.final {
  .final__title {
    font-size: 6rem;
    display: block;
  }
}

.number {
  display: inline-block;
  text-align: left;
  margin: 6rem;
  .number__title {
    font-size: 1.2rem;
    position: relative;
    top: 15px;
  }
}

.counting {
  text-align: left;
  margin: 0;
  .counting__main {
    font-size: 8rem;
  }
  .counting__fraction {
    margin-left: -30px; // vertical-align: super;
    font-size: 1.5rem;
    top: auto;
  }
}

.flexArea {
  .flexArea__title {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
  .flexArea__items {
    display: flex;
    flex-flow: center;
    .flexArea__item {
      flex: auto;
      margin: .5rem;
      .item__title {
        text-align: left;
        font-size: 1.5rem;
      }
      .item__content {
        margin-top: 2rem;
      }
      .item__timesNumber {
        font-size: 1.5rem;
      }
      .item__timesWord {
        font-size: 0.7rem;
        top: auto;
      }
    }
  }
}