// @import "helpers/material.min";
// @import "../vendor/materialize-src/sass/materialize";
@import "helpers/const";
@import "newTab/layout";
@import "newTab/modal";
@import "newTab/button";
.question {
  .q__title {
    font-size: 4rem;
  }
  .q__content {
    margin: 4rem;
    .q__value {
      font-size: 6rem; // text-decoration: underline;
      border-bottom: 1px solid #ffffff;
    }
  }
}

////////////////////////////////////////
.drop {
  display: inline-block;
  margin-right: .5rem;
  .drop__title {
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4); // border-color: rgba(255, 255, 255, 0.7);
    }
    i {
      font-size: 2rem;
    }
  }
  .drop__slash {
    font-size: 4rem;
    margin: 0 1vw;
  }
}

////////////////////////////////
.dropList {
  max-height: 10rem;
  overflow: auto;
  padding: 0px;
  margin-top: 2rem;
  &::-webkit-scrollbar {
    display: none;
  }
  &.closed {
    display: none;
  }
  li {
    cursor: pointer;
    list-style: none;
    line-height: 2rem;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    &:hover {
      background-color: $hoverBgColor;
    }
  }
}

/////////////////
.final {
  height: 100%;
  .final__title {
    font-size: 4rem;
    display: block;
  }
}

.number {
  display: inline-block;
  text-align: left;
  margin: 5vh;
  .number__title {
    font-size: 1.2rem;
    position: relative;
    top: 15px;
  }
}

.counting {
  text-align: left;
  margin: 0;
  .counting__main {
    font-size: 8rem;
  }
  .counting__fraction {
    margin-left: -30px; // vertical-align: super;
    font-size: 1.5rem;
    top: auto;
    &.scaled {
      transform: scale(1.05);
    }
  }
}

.flexArea {
  .flexArea__title {
    font-size: 3rem;
    margin-bottom: 3vh;
  }
  .flexArea__items {
    display: flex;
    flex-flow: center;
    .flexArea__item {
      flex: auto;
      margin: .5rem;
      .item__title {
        text-align: left;
        font-size: 1.5rem;
      }
      .item__content {
        margin-top: 3vh;
      }
      .item__timesNumber {
        font-size: 2rem;
      }
      .item__timesWord {
        font-size: 0.7rem;
        top: auto;
      }
    }
  }
}